
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Admin Panel{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">

<form method="POST" action="{% url 'admin_logout' %}" class="absolute top-4 right-4">
  {% csrf_token %}
  <button type="submit" class="text-dark px-4 py-2 rounded hover:bg-red-600 transition">
    Logout
  </button>
</form>

<div class="flex min-h-screen">

  <aside class="w-64 bg-white border-r">
    <div class="p-6 border-b">
      <h1 class="text-xl font-bold text-gray-900 flex items-center gap-2">
        Admin
      </h1>
    </div>
    <nav class="p-4 space-y-4 text-gray-700">
      <a href="{% url 'admin_dashboard' %}" class="flex items-center gap-2 hover:text-indigo-600"><span>📊</span> Dashboard</a>
      <a href="{% url 'admin_product' %}" class="flex items-center gap-2 hover:text-indigo-600"><span>📦</span> Products</a>
      <a href="#" class="flex items-center gap-2 hover:text-indigo-600"><span>🧾</span> Orders</a>
      <a href="{% url 'admin_customers' %}" class="flex items-center gap-2 hover:text-indigo-600"><span>👥</span> Customers</a>
      <a href="#" class="flex items-center gap-2 hover:text-indigo-600"><span>📈</span> Report</a>
      <a href="#" class="flex items-center gap-2 hover:text-indigo-600"><span>🏷️</span> Coupons</a>
      <a href="{% url 'admin_category' %}" class="flex items-center gap-2 hover:text-indigo-600"><span>📁</span> Category</a>
      <a href="{% url 'admin_banner' %}" class="flex items-center gap-2 hover:text-indigo-600"><span>🎯</span> Banners</a>
      <a href="#" class="flex items-center gap-2 hover:text-indigo-600"><span>🔥</span> Offers</a>
      <a href="{% url 'admin_brand' %}" class="flex items-center gap-2 hover:text-indigo-600"><span>🏷️</span> Brand</a>
      <a href="#" class="flex items-center gap-2 hover:text-indigo-600"><span>➕</span> Extras</a>
    </nav>
  </aside>

  
  <main class="flex-1 p-8">
    {% block content %}{% endblock %}
  </main>
</div>

</body>
</html>
